section {
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 2%;
    margin: 2%;
    filter: drop-shadow(15px 10px 4px rgb(73, 73, 73));
    width: 30%;
}

.position{
    margin-top: 0%;
}
.name{
    display: flex;
    padding: 5%;
}
.artist{
    display: flex;
    padding: 5%;
}
.album-art{
    display: flex;
    margin: auto;
    width: 90%;  
    border: 1px solid black;
    border-radius: 10px;

}

.controls{
    display: flex;
    margin: auto;
}