.button-container{
    display: block;
    margin: auto;
    padding-top: 5%;
    width: 350px;
}

.button-down{
    padding: 2%;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    width: 47%;
}

.button-up{
    padding: 2%;
    margin: 3px;
    display: inline-block;
    border-radius: 5px; 
    width: 47%;
}